<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
            <provider
            android:name=".CameraFileProvider"
            android:authorities="${applicationId}.camera.provider"
            android:exported="false"
            android:grantUriPermissions="true" />

    </application>
</manifest>
